/* hype */
@import "iconized_main_menu.css";










/* variables */

:root {
  
  --imf-tab-background: #77777720;
  --imf-selected-tab-width: 315px;
  --imf-tab-width: 210px;
  
  /* "center" or "initial" */
  --imf-tabs-align: center;
  --imf-bookmarks-align: center; 
  
  /* not for editing, very sensitive */
  --imf-tab-height: 45px;
  
}




/* small window width mode */

@media (max-width: 800px) {
  #tabbrowser-arrowscrollbox { visibility: collapse }
  #alltabs-button { display: flex !important }
}



/* HIDE ELEMENTS */


.tab-close-button, 

#reader-mode-button, 

#alltabs-button, 

/* add to bookmarks and PiP buttons in urlbar */
#page-action-buttons, 

/* bookmarks overflow buttom */
#PlacesChevron, 

/* pinned tab label */
.tab-label-container[pinned], 

/* icon of browser's own tabs like settings */
#identity-box, 

/* security bullshit buttons */
#tracking-protection-icon-container 

{ display: none }




/* THAT THING IN THE LOWER LEFT CORNER WHEN YOU HOVER OVER THE LINK */

#statuspanel #statuspanel-label {
  font-weight: 600 !important;
  padding-inline: 6px !important;
  border-radius: 6px !important;
  margin: 8px !important;
  background-color: white !important;
  color: black !important;
}



/* TABS */


/* multiline tabs */

scrollbox[part][orient="horizontal"] { 
  display: flex; 
  flex-wrap: wrap !important; 
  height: none !important; 
}


/* all types of tabs */

.tabbrowser-tab {
  max-height: var(--imf-tab-height);
  min-width: var(--imf-tab-height);
}


/* inactive tab */

.tabbrowser-tab[fadein]:not([selected]):not([pinned]) { 
  max-width: var(--imf-tab-width) !important; 
  min-width: var(--imf-tab-width) !important; 
}

/* active tab */

.tabbrowser-tab[fadein][selected]:not([pinned]) { 
  max-width: var(--imf-selected-tab-width) !important; 
  min-width: var(--imf-selected-tab-width) !important; 
}


/* pinned tab */

.tabbrowser-tab[fadein][pinned] { /* pinned tab */
  max-width: calc( var(--imf-tab-height) - 5px ) !important; 
  min-width: calc( var(--imf-tab-height) - 5px ) !important; 
  #urlbar { 
    z-index: -1 !important; 
    opacity: 0 !important 
  }
}


/* display tab close button on hover and selected tab*/

tab:not([pinned]):hover {
  .tab-close-button { display: flex !important }
}
tab[selected]:not([pinned]) { 
  .tab-close-button { display: flex !important }
}


/* cool tab background */

.tab-background:not([selected]) {background:  var(--imf-tab-background) !important }


/* urlbar in selected tab on hover style */

.tab-label-container { opacity: 1 }
#urlbar { opacity: 0; }
#urlbar-background{ opacity: 0; outline: none !important }


/* show urlbar and hide tab label on hover */

tab[selected]:hover { 
  #urlbar {opacity: 1}; 
  .tab-label-container{ opacity: 0 !important; }; 
}


/* show urlbar with background if it focused */

#urlbar[focused] { 
  opacity: 1; 
  #urlbar-background{ opacity: 1 };
}


/* cut urlbar on sides */

#urlbar { 
  max-width: calc(var(--imf-selected-tab-width) - 26px); 
  padding-left: 30px !important; 
  clip: rect( auto, auto, auto, 28px ); 
}



/* BOOKMARKS */


/* multiline bookmarks */

:root[BookmarksToolbarOverlapsBrowser] :where(#PersonalToolbar) {
  height: unset !important;
}
#PersonalToolbar {
  padding: 0 !important;
  margin: 0 !important;
  max-height: none !important;
}
#PlacesToolbarItems {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6px;
}


/* cool backround on bookmarks */

#PlacesToolbarItems > .bookmark-item {
  background: var(--imf-tab-background) !important;
  height: 24px; 
} 



/* CENTERED TABS AND BOOKMARKS */

#tabbrowser-arrowscrollbox:not([overflowing]){
 --imf-align-tmp: var(--imf-tabs-align); 
}

#PlacesToolbarItems:not([overflowing]){
 --imf-align-tmp: var(--imf-bookmarks-align); 
}

scrollbox[orient="horizontal"]{
  justify-content: var(--imf-align-tmp,initial);
}



/* ANOTHER IMPORTANT THINGS */


/* hide empty adressbar */

:root[sessionrestored]:not([inFullscreen]) > body > 
  #browser{ margin-top: calc( 0px - var(--imf-tab-height)) }
  #nav-bar {z-index: -1 !important }


/* swap toolbars positions */

#titlebar { order: 0 !important; }
#nav-bar { order: 3 !important; border-top-width: 0px !important; }
#PersonalToolbar { order: 2 !important; }
#TabsToolbar { order: 1 !important; }


/* unlimited sidebar width */

#sidebar-box { max-width: none !important }


/* thin menubar */

#toolbar-menubar {max-height: 5px !important }


/* small scrollbars in ui */

.panel-subview-body,
#permList,
scrollbar{
 color: inherit;
 scrollbar-color: currentColor transparent;
 scrollbar-width: thin 
}


/* fix very long buttons and remove empty space */

.titlebar-buttonbox-container { max-height: var(--imf-tab-height) }
.toolbarbutton-1 { max-height: var(--imf-tab-height) }
.titlebar-spacer { max-width: 0px }


/* urlbar height */

#nav-bar {
  min-height: calc(var(--imf-tab-height) - 3px)!important;
  max-height: calc(var(--imf-tab-height) - 3px)!important;
}


/* fix sites without favicon */

.tab-icon-stack { min-width: 22px };

